In [2]:
import pandas as pd

# Create a dictionary of data
data = {'Year': [2010,2011,2012,2013,2014,2015],
        'External_term_Debt': [5944744526,5887842505,6942115606,6924480066,6861844491,6476660913],
        'Agriculture_Raw_Materials': [0.8179284729,0.7153991767,0.6408769733,0.8889516269,1.371524239,0.9042025599],
        'Export_GoodServices': [9325006299,10437325128,9414795929,9592171961,9457561767,1889969323],
        'GDP': [124906,215985,	214847,	218862,	212394	,148842],
        'Urban_Population': [7862636,8244926,8642705,9055561,9481916,9917199],
        'Rural_Population': [16881310,17230684,17580686,17928441,18271388,18599346],
        'Net_Primary': [-1818983765,-2337424542,-1481364841,-1694212045,-1733990478,-545278451]
        }


# Create a data frame from the dictionary
df = pd.DataFrame(data)

# Display the data frame
print(df)
df.to_csv('primary_data.csv', index=False)

   Year  External_term_Debt  Agriculture_Raw_Materials  Export_GoodServices  \
0  2010          5944744526                   0.817928           9325006299
1  2011          5887842505                   0.715399          10437325128
2  2012          6942115606                   0.640877           9414795929
3  2013          6924480066                   0.888952           9592171961
4  2014          6861844491                   1.371524           9457561767
5  2015          6476660913                   0.904203           1889969323

      GDP  Urban_Population  Rural_Population  Net_Primary
0  124906           7862636          16881310  -1818983765
1  215985           8244926          17230684  -2337424542
2  214847           8642705          17580686  -1481364841
3  218862           9055561          17928441  -1694212045
4  212394           9481916          18271388  -1733990478
5  148842           9917199          18599346   -545278451

In [ ]:
import pandas as pd

# Create a dictionary of data
data_1 = {'Undernourishment_Yemen': [25.1,25.6,28.6,29,32.9,38.7],
        'Food_Moderate_Insecurity': [45.7,49.6,46.6,46,49.4,58.5],
        'Number_FoodAssistance_mill': [4.7,11,10,10.5,10.6,14.4],
        'UnderNourishment_Childrenunder5': [676.000,676.000,686.400,711.900,733.200,848.600],

        }


df = pd.DataFrame(data_1)

print(df)

print(df)
df.to_csv('health_indicator.csv', index=False)

   Undernourishment_Yemen  Food_Moderate_Insecurity  \
0                    25.1                      45.7
1                    25.6                      49.6
2                    28.6                      46.6
3                    29.0                      46.0
4                    32.9                      49.4
5                    38.7                      58.5

   Number_FoodAssistance_mill  UnderNourishment_Childrenunder5
0                         4.7                            676.0
1                        11.0                            676.0
2                        10.0                            686.4
3                        10.5                            711.9
4                        10.6                            733.2
5                        14.4                            848.6

In [ ]:
import pandas as pd

data_4 = {'Life_Expectancy': [67.28, 67.42,67.34, 67.54, 67.38,65.87],
      'Mortality_Infant': [46.498,45.426,44.355,43.283,43.273,42.674],
      'Access_CleanWater' : [45 , 43.50 ,42.50 ,41.00 ,39.50 ,37.50],
      'Vaccine_Measles' : [72 ,70 ,68 ,65 ,61 ,57],

          }

df = pd.DataFrame(data_4)
print(df)

   Life_Expectancy  Mortality_Infant  Access_CleanWater  Vaccine_Measles
0            67.28            46.498               45.0               72
1            67.42            45.426               43.5               70
2            67.34            44.355               42.5               68
3            67.54            43.283               41.0               65
4            67.38            43.273               39.5               61
5            65.87            42.674               37.5               57

In [3]:
data_5 = {'Hunger_Fund': [200, 300 ,500, 600, 800,1000],
      'Health_Fund': [200,300,400,500,600,800],
          }

df = pd.DataFrame(data_5)
print(df)

# Display the data frame
print(df)
df.to_csv('fund.csv', index=False)

   Hunger_Fund  Health_Fund
0          200          200
1          300          300
2          500          400
3          600          500
4          800          600
5         1000          800
   Hunger_Fund  Health_Fund
0          200          200
1          300          300
2          500          400
3          600          500
4          800          600
5         1000          800